<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Web</title>
    <link rel="shortcut icon" href="../src/imgs/pngwing.com.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/19e3965ce4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/generalStyle.css">
    <link rel="stylesheet" href="../src/css/darkMode.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div class="container">
       <header>
            <img src="../src/imgs/pngwing.com.png" alt="" class="logo">
            <nav class="nav_links" id="nav_links">
                <ul>
                    <li class="item active"><a href="../views/home.html">Inicio</a></li>
                    <li class="item"><a href="../views/product.html">Productos</a></li>
                    <li class="item"><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <button type="button" name="button" class="btnLogin">
                Ingresar
            </button>
            <!---<button class="switch" id="switch">
                <span><i class="fas fa-sun"></i></span>
                <span><i class="fas fa-moon"></i></span>
            </button>---->
           <a href="#" class="menu"> <span><i class="fas fa-ellipsis-v" ></i></span></a>
        </header>
        <br>
        <div class="sub-container">
            <div class="sections-initial">
                <section class="img-section">
                    <img src="../src/imgs/deliverydron.svg" alt="pic">
                </section>
                <section class="text-initial">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <ul class="list-promises">
                        <li id="promise">progress 1</li>
                        <li id="promise">progress 1</li>
                        <li id="promise">progress 1</li>
                        <li id="promise">progress 1</li>
                    </ul>
                </section>
            </div>
            <br>
            <div class="category">
                <section class="cat-section-text">
                    <h1>Categoria de los mas enviado</h1>
                    <p>Todo lo que nesesitas a un click</p>
                </section>
                <br>
                <div class="cat-matriz">
                    <div class="cat-card">
                        <section class="card-img">
                            <img src="../src/imgs/catGames.jpg" alt="">
                        </section>
                        <section class="cat-title">
                            <h1>Title title</h1>
                        </section>
                    </div>
                    <div class="cat-card">
                        <section class="card-img">
                            <img src="../src/imgs/aliment.jpg" alt="">
                        </section>
                        <section class="cat-title">
                            <h1>Title title</h1>
                        </section>
                    </div>
                    <div class="cat-card">
                        <section class="card-img">
                            <img src="../src/imgs/catGames.jpg" alt="">
                        </section>
                        <section class="cat-title">
                            <h1>Title title</h1>
                        </section>
                    </div>
                    <div class="cat-card">
                        <section class="card-img">
                            <img src="../src/imgs/catGames.jpg" alt="">
                        </section>
                        <section class="cat-title">
                            <h1>Title title</h1>
                        </section>
                    </div>
                    <div class="cat-card">
                        <section class="card-img">
                            <img src="../src/imgs/catGames.jpg" alt="">
                        </section>
                        <section class="cat-title">
                            <h1>Title title</h1>
                        </section>
                    </div><div class="cat-card">
                        <section class="card-img">
                            <img src="../src/imgs/catGames.jpg" alt="">
                        </section>
                        <section class="cat-title">
                            <h1>Title title</h1>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="social">
                <ul>
                    <li><span class="face"><i class="fab fa-facebook" style="color: #325aaf;"></i></span></li>
                    <li><span><i class="fab fa-instagram insta" ></i></span></span></li>
                    <li><span><i class="fab fa-twitter twi" ></i></span></li>
                    <li><i class="fab fa-youtube you" ></i></li>
                </ul>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dutys">
                <p>
                    <span>&copy; 2020 Project Web</span>
                </p>
            </div>
        </footer>
    </div>
    <script src="../src/js/index.js"></script>
</body>
</html>
