<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../src/imgs/pngwing.com.png" type="image/x-icon">
        <script src="" crossorigin="anonymous"></script>
        <title>Project Web</title>
    </head>
    <body>
        <div class="container-login">
            <div class="login">
                <form class="form-login" action="index.html" method="post">
                    <h2>Inicia session</h2>
                    <div class="input-icon">
                        <i class="fas fa-user"></i>
                        <input type="text" name="" value="" placeholder="Ingrese sus nombres" required>
                    </div>
                    <div class="input-icon">
                        <i class="fas fa-key"></i>
                        <input type="text" name="" value="" placeholder="Ingrese clave" required>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
