<footer>
    <div class="social">
        <ul>
            <li><span class="face"><i class="fab fa-facebook" style="color: #325aaf;"></i></span></li>
            <li><span><i class="fab fa-instagram insta" ></i></span></span></li>
            <li><span><i class="fab fa-twitter twi" ></i></span></li>
            <li><i class="fab fa-youtube you" ></i></li>
        </ul>
    </div>
    
    <div class="dutys">
        <p>
            <span>&copy; 2020 Project Web</span>
        </p>
    </div>
</footer>