<header >
    <nav class="navbar">
        <div style="padding: 0; margin: 0; justify-content: stretch;">
            <section class="img-log" >
                <img src="src/imgs/pngwing.com.png" alt="" style="padding: 5px; width: 3em;">
            </section>
        </div>
        <div style="margin: 0; padding: 0;">
            <ul class="nav_links">
                <li class="nav-">Envios</li>
                <li class="nav-"><a href="index.php?a=pages&p=product">Productos</a></li>
                <li><a href="index.php?c=Admin&a=showAllUsers">Users(admin)</a></li>
                <li class="nav-">Nosotros?</li>
            </ul>
        </div>
        <div>
            <ul class="act-user">
                <li>
                    <a  href="index.php?a=pages&p=registerUser">Registrarse</a>
                </li>
                <li>
                    <a class="creat" href="index.php?a=pages&p=login">Ingresar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>