@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FFF;
    transition: .3s ease all;
}
li, a, button{
    color: #000;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 12px 25px;
    -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}
.logo{
    width: 3%;
    cursor: pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all .3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
.active{
    border-bottom: 2px solid #0088a9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.switch{
    width: 55px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    background-color: #343C5B;
    border-radius: 1000px;

}
.switch > span{
    background: none;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;

}
.switch::after{
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    box-shadow: 0px 0px 2px rgb(59, 59, 59);
    top: 0;
    left: 0;
    background: #F1F1F1;
    border-radius: 100px;
    right: unset;
    transition: .3s ease all;
}
.switch.active{
    background: orangered;
    color: black ;
}
.switch.active::after{
    left: unset;
    right: 0;
}
.btnLogin{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    border: none;
    background-color: #2980B9;
    border-radius: 5px;
}
.btnLogin:hover{
    cursor: pointer;
    background-color: #216794;
}
.menu{
    display: none;
}
/*------------- Body -------------*/
.sub-container{

    text-align: center;
    padding: 2em;
}
.sections-initial{
    margin: 0em 5em;
    display: flex;
    padding: 2em;
}
.img-section{
    align-content: center;
}
.img-section > img{
    width: 100%
}
.text-initial{
    margin: 2em;
    width: 75%;
    text-align: left;
    padding-left: 1em;
}
.text-initial >h1{
    margin-bottom: 10px
}
.list-promises{
    list-style: none;
    padding: 1em;
}
#promise{
    margin: 10px 0px;
    font-weight: 100;
}
.cat-matriz{
    padding: 1em 20em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40%,auto));
    column-gap: 50px;
    row-gap: 20px;
}
.cat-card{
    height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 9px 37px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 37px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 37px -18px rgba(0,0,0,0.75);
}
.cat-card:hover{
    opacity: .8;
}
.card-img > img{
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
    width: 100%
}
/*------------- Business --------- */

.img-bnss{
    padding: 1em;
}
.container-bnss{
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5em 15em;
    border-radius: 5px;
    display: flex;
}

.data-form{
    width: 100%;
    transition:none;
}
.bnss-form{
    padding: 1em 2em;
}
.bnss-form > h1{
    margin-bottom: 1em;
}
.bnss-form > label{
    margin-bottom: 5px;
}
.bnss-form > input{
    display: block;
    margin-bottom: 2em;
}
.bnss-form > input[type=text]{
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.bnss-form > input[type=text]:focus{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.bnss-form{
    height: 100%;
}
.btns-bnss{
    margin-top: 2em;
}
select{
    padding: .5em;
    margin-left: 1em;
}
.btns-bnss > input[type=submit]{
    padding: 10px;
    width: 90px;
    border: 0px;
    background-color: #2980B9;
    color: white;
    border-radius: 5px;
    margin: 5px;
}
.btns-bnss > input[type=button]{
    padding: 10px;
    width: 90px;
    border: 0px;
    background-color: #C0392B;
    color: white;
    border-radius: 5px;
    margin: 5px;
}
/*------------- Products --------- */
.items{
    padding: 1em 1em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20%,auto));
    column-gap: 20px;
    row-gap: 20px;
}
.container-cat{
    padding: 1em 2em;
}
.combo-cat{
    padding: 2em 5em;
    justify-content: space-around;
    display: flex;
}
#btnAddProduct{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    background-color: #2980B9;

}
/*------------- Footer ----------- */
footer{
    border-radius: 5px;
    width: 100%;
    background: black;
}
.social{
    padding: 1em;
}
.social ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.social ul li{
    padding: .2em 1em;
    font-size: 35px;
}
.insta{
    width: 36px;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background:  -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.twi{
    color: #00acee;
}
.you{
    color: red;
}
.dutys{
    padding: 1em;
    text-align: center;
    color: rgba(255, 255, 255, 0.876);
}
@media(max-width: 920px){
    .container-bnss{
        margin: 1em;
        display: block;
    }

}
@media(max-width: 720px){

    .logo{
        width:7%;
    }
    .nav_links{
        display: none;
    }
    .nav_links.active{
        display: block;
        width: 40%;
        text-align: center;
        position: absolute;
        top:7%;
        right: 0;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
        transition: .3s ease all;
        animation-duration: 1s;
        animation-name: slidein;
    }
    @keyframes slidein {
        from {
          margin-left: 0%;
          width: 80%;
          transition: .3s ease all;
        }

        to {
          margin-left: 100%;
          width: 40%;
        }

      }
    .nav_links li {
        padding: 10%;
        display: block;
    }
    header{
        justify-content: space-between;
    }
    .menu{
        display: block;
    }
    .switch{
        position: fixed;
        right: 50px;
    }
    footer .social ul{
        text-align: center;
        display: block;
    }
}
/*---------LOGIN---------*/
.container-login{
    width: 400px;
    height:340px;
    background: rgba(0, 4, 15, 0.795);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.login.btn-cerrar-login{
    font-size: 16px;
    line-height: 16px;
}
.btnAcceso{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    border: none;
    background-color: teal;
    border-radius: 5px;
}
.btnAcceso:hover{
    cursor: pointer;
    background-color: rgb(0,128, 128, .7);
}
.container-login h2 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.text{
    width: 100%;
    border: 1px solid teal;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}
.container-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.container-login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.container-login a:hover{
    text-align: underline;
}
